<!-- Background -->
<div class="bg"></div>

<app-header></app-header>

<section class="content">
    <div class="center">
        <div class="card center">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <p class="red-underline">Dades Usuari</p>
                <input type="text" formControlName="name" id="name" name="name" placeholder="Nom" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <p *ngIf="f.name.errors.required">El nom és obligatori</p>
                </div>

                <input type="text" formControlName="fullname" id="fullname" name="fullname" placeholder="Cognoms" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
                <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                    <p *ngIf="f.fullname.errors.required">Els cognoms són obligatoris</p>
                </div>

                <input type="email" formControlName="email" id="email" name="email" placeholder="Introdueix el correu electrònic" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <p *ngIf="f.email.errors.required">El correu electrònic és obligatori</p>
                    <p *ngIf="f.email.errors.email">Introdueix un correu electrònic correcte</p>
                </div>

                <input type="tel" formControlName="phone" id="phone" name="phone" placeholder="Telèfon" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <p *ngIf="f.phone.errors.pattern">El número de telèfon no és correcte</p>
                </div>

                <input type="password" formControlName="password" id="password" name="password" placeholder="Contrasenya" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <p *ngIf="f.password.errors.required">La contrasenya és obligatòria</p>
                </div>

                <input type="password" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword" placeholder="Repeteix Contrasenya" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <p *ngIf="f.confirmPassword.errors.required">La contrasenya de confirmació és obligatòria</p>
                    <p *ngIf="f.confirmPassword.errors.isEqual">Les contrasenyes no coincideixen</p>
                </div>

                <p *ngIf="message !== null" class="valid-submit"> {{message}}</p>
                <button class="button-1">Registrar</button>
                <p class="center"><a routerLink="" class="text-link">Tornar</a></p>
            </form>
        </div>
    </div>
</section>