.card {
    margin-bottom: 50px;
}

.search-field {
    font-size: 14px;
    border: 2px solid hsla(0, 0%, 51%, 1);
    justify-content: center;
    width: 85vw;
    height: 50px;
    background-color: hsl(0, 0%, 96%);
    position: absolute;
    margin-top: -20px;
    cursor: pointer;
    text-indent: 10px;
}

.custom-select {
    height: 40px;
    border: 1px solid hsla(0, 70%, 69%, 1);
    color: hsla(0, 70%, 69%, 1);
    background-color: hsla(0, 70%, 69%, 0.1);
    text-indent: 3px;
    width: 100%;
    font-size: 16px;
}

select option:disabled {
    color: hsla(0, 70%, 69%, 1);
}

@media screen and (min-width: 425px) {
    .search-field {
        width: 400px;
    }
}