<!--Adding the background, header, and menu-->
<div class="bg-gray"></div>
<app-header></app-header>
<app-menu-community></app-menu-community>

<!--Adding the content -->
<section class="content" id="main">
    <div class="content-dashboard center">
        <div class="contain">

            <!--show data community-->
            <div class="containWrap center">
                <p *ngIf='community !== undefined' class="text-mb-40 red-underline">{{community.name}}</p>
                <div *ngIf="community !== undefined" class="itemsWrap column">
                    <div class="itemContainWrap">
                        <div class="itemContain item"><small>CIF</small>
                            <p>{{community.cif}}</p>
                        </div>
                        <div class="itemContain item"><small>Adreça</small>
                            <p>{{community.address}}</p>
                        </div>
                        <div class="itemContain item"><small>Codi Postal</small>
                            <p>{{community.postalCode}}</p>
                        </div>
                        <div class="itemContain item"><small>Ciutat</small>
                            <p>{{community.city}}</p>
                        </div>
                        <div class="itemContain item"><small>Ciutat</small>
                            <p>{{community.country}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--show estate administrator-->
            <div class="containWrap center">
                <p class="red-underline" [ngClass]="{ 'text': isAdmin || userRole === 'Propietari' || userRole === 'Proveïdor' }" [ngClass]="{ 'text-mb-40': !isAdmin && userRole === 'Propietari' || userRole === 'Proveïdor' }">Administrador de Finques</p>
                <form [formGroup]="adminForm" (change)="onSubmit('Administrador de Finques')" *ngIf="isAdmin || userRole !=='Propietari' && userRole !=='Proveidor'">
                    <select formControlName="userRole" name="admin" id="admin" #admin class="custom-select">
                        <option selected value>Administrador</option>
                        <option disabled>__________________</option>
                        <option *ngFor="let admin of adminCommunity">{{admin.name}}</option>
                        <option>Ningú</option>
                    </select>
                </form>
                <div *ngIf="!admin || admin.length === 0" class="text-mb"></div>
                <div *ngIf="!admin || admin.length === 0" class="itemContainWrap text-format">
                    <p>La teva comunitat no té administrador de finques</p>
                </div>

                <div class="itemsWrap column" *ngIf="admin && admin.length !== 0">
                    <div class="itemContainWrap">
                        <div class="itemContain item"><small>Nom</small>
                            <p>{{admin.name}}</p>
                        </div>
                        <div class="itemContain item"><small>CIF</small>
                            <p>{{admin.cif}}</p>
                        </div>
                        <div class="itemContain item"><small>Adreça</small>
                            <p>{{admin.address}}</p>
                        </div>
                        <div class="itemContain item"><small>Telèfon</small>
                            <p *ngIf="presidentCommunity.phone">{{admin.phone}}</p>
                            <p *ngIf="!presidentCommunity.phone">-</p>
                        </div>
                        <div class="itemContain item"><small>Correu Electrònic</small>
                            <p *ngIf="admin.email">{{admin.email}}</p>
                            <p *ngIf="!admin.email">-</p>
                        </div>
                    </div>
                </div>
            </div>



            <!--show data of the president community-->
            <div class="containWrap center">
                <p class="red-underline" [ngClass]="{ 'text': isAdmin || userRole === 'Propietari' || userRole === 'Proveïdor' }" [ngClass]="{ 'text-mb-40': !isAdmin && userRole === 'Propietari' || userRole === 'Proveïdor' }">President de la Comunitat</p>

                <form [formGroup]="presidentForm" (change)="onSubmit('President')" *ngIf="isAdmin  || userRole !=='Propietari' && userRole !=='Proveidor'">

                    <select formControlName="userRole" name="president" id="president" class="custom-select">
                        <option selected value>President</option>
                        <option disabled>__________________</option>
                        <option *ngFor="let user of users">{{user.name}} {{user.fullname}} | {{user.floor}} - {{user.door}}, {{user.side}}</option>
                        <option>Ningú</option>
                    </select>
                </form>
                <div *ngIf="!presidentCommunity || presidentCommunity.length === 0" class="text-mb"></div>
                <div *ngIf="!presidentCommunity || presidentCommunity.length === 0" class="itemContainWrap text-format">
                    <p>La teva comunitat no té president</p>
                </div>

                <div class="itemsWrap column" *ngIf="presidentCommunity && presidentCommunity.length !== 0">
                    <div class="itemContainWrap">
                        <div class="itemContain item"><small>Nom</small>
                            <p>{{presidentCommunity.name}}</p>
                        </div>
                        <div class="itemContain item"><small>Cognoms</small>
                            <p>{{presidentCommunity.fullname}}</p>
                        </div>
                        <div class="itemContain item"><small>Pis/Porta/Escala</small>
                            <p>{{presidentCommunity.floor}} - {{presidentCommunity.door}}, {{presidentCommunity.side}}</p>
                        </div>
                        <div class="itemContain item"><small>Telèfon</small>
                            <p *ngIf="presidentCommunity.phone">{{presidentCommunity.phone}}</p>
                            <p *ngIf="!presidentCommunity.phone">-</p>
                        </div>
                        <div class="itemContain item"><small>Correu Electrònic</small>
                            <p>{{presidentCommunity.email}}</p>
                        </div>
                    </div>
                </div>

            </div>


            <!--show data of the secretary community-->
            <div class="containWrap center">
                <p class="red-underline" [ngClass]="{ 'text': isAdmin || userRole === 'Propietari' || userRole === 'Proveïdor' }" [ngClass]="{ 'text-mb-40': !isAdmin && userRole === 'Propietari' || userRole === 'Proveïdor' }">Secretari de la Comunitat</p>
                <form [formGroup]="secretaryForm" (change)="onSubmit('Secretari')" *ngIf="isAdmin  || (userRole !=='Propietari' && userRole !=='Proveidor')">

                    <select formControlName="userRole" name="secretary" id="secretary" class="custom-select">
                        <label>Selecciona un secretari: </label>
                        <option selected value>Secretari</option>
                        <option disabled>________________</option>
                        <option *ngFor="let user of users">{{user.name}} {{user.fullname}} | {{user.floor}} - {{user.door}}, {{user.side}}</option>
                        <option>Ningú</option>
                    </select>
                </form>
                <div *ngIf="!secretaryCommunity || secretaryCommunity.length === 0" class="text-mb"></div>
                <div *ngIf="!secretaryCommunity || secretaryCommunity.length === 0" class="itemContainWrap text-format">
                    <p>La teva comunitat no té secretari</p>
                </div>

                <div class="itemsWrap column" *ngIf="secretaryCommunity && secretaryCommunity.length !== 0">
                    <div class="itemContainWrap">
                        <div class="itemContain item"><small>Nom</small>
                            <p>{{secretaryCommunity.name}}</p>
                        </div>
                        <div class="itemContain item"><small>Cognoms</small>
                            <p>{{secretaryCommunity.fullname}}</p>
                        </div>
                        <div class="itemContain item"><small>Pis/Porta/Escala</small>
                            <p>{{secretaryCommunity.floor}} - {{secretaryCommunity.door}}, {{secretaryCommunity.side}} </p>
                        </div>
                        <div class="itemContain item"><small>Telèfon</small>
                            <p *ngIf="secretaryCommunity.phone">{{secretaryCommunity.phone}}</p>
                            <p *ngIf="!secretaryCommunity.phone">-</p>
                        </div>
                        <div class="itemContain item"><small>Correu Electrònic</small>
                            <p>{{secretaryCommunity.email}}</p>
                        </div>
                    </div>
                </div>


            </div>

            <!--show owners community-->
            <p class="text-mb-60 red-underline">Veïns de la Comunitat</p>
            <div *ngIf="userCommunityList === undefined || userCommunityList.length === 0" class="itemContainWrap text-format">
                <p>La comunitat encara no té veïns</p>
            </div>
            <div class="containWrap center" *ngIf="userCommunityList !== undefined && userCommunityList.length !== 0">
                <div *ngFor="let user of userCommunityList" class="itemsWrap column">
                    <div class="itemContainWrap">
                        <div class="itemContain item"><small>Nom</small>
                            <p>{{user.name}}</p>
                        </div>
                        <div class="itemContain item"><small>Cognoms</small>
                            <p>{{user.fullname}}</p>
                        </div>
                        <div class="itemContain item"><small>Pis/Porta/Escala</small>
                            <p>{{user.floor}} - {{user.door}}, {{user.side}} </p>
                        </div>
                        <div class="itemContain item"><small>Telèfon</small>
                            <p *ngIf="user.phone !== null">{{user.phone}}</p>
                            <p *ngIf="user.phone === null">-</p>
                        </div>
                        <div class="itemContain item"><small>Correu Electrònic</small>
                            <p>{{user.email}}</p>
                        </div>
                    </div>
                    <div class="buttonsWrap" *ngIf="isAdmin || (userRole !=='Propietari' && userRole !=='Proveidor')">
                        <button class="button-3 bt-blue" (click)="removeUserCommunity(user)">Eliminar</button>
                    </div>
                </div>
            </div>

            <p class="red-underline"></p>

        </div>
    </div>

</section>